* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

/****************************************** 
  Navigation
******************************************/

.nav {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.nav__svg {
  justify-content: flex-start;
  position: relative;
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  margin-top: 25px;
  margin-left: 5vw;
  cursor: pointer;
}

.nav__list {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.nav__link {
  width: 60px;
  margin-left: 80px;
  margin-right: 20px;
  font-size: 1rem;
}

.nav__link--highlight {
  width: 40px;
  position: relative;
  color: rgb(14, 173, 27);
  text-decoration: none;
}

.nav__link--highlight:after {
  content: "";
  position: absolute;
  z-index: 10;
  right: 0;
  width: 0;
  bottom: -8px;
  background: rgb(14, 173, 27);
  height: 2px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.nav__link--highlight:hover:after,
.nav__link--highlight:focus:after,
.nav__link--highlight:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/****************************************** 
  Jumbotron/Hero -- Register
******************************************/

#hero-background {
  height: 45vw;
}

video {
  position: relative;
  overflow: hidden;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.hero {
  height: 45vw;
  top: 80px;
  right: 0;
  position: absolute;
  background: rgba(40, 40, 40, 0.75);
  color: #f1f1f1;
  width: 100%;
  z-index: 1;
}

.hero__svg {
  height: 65px;
  width: 65px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content__header {
  max-width: 380px;
  color: white;
  font-size: 5rem;
}

.content__text {
  padding-top: 1vw;
  padding-bottom: 2vw;
  max-width: 380px;
  font-size: 1.25rem;
}

.btn--register {
  width: 380px;
  height: 60px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
}

.btn--register:hover {
  background-color: #fff;
  color: rgb(14, 173, 27);
  cursor: pointer;
}

/****************************************** 
  App Description and Screenshots
******************************************/

.main__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  padding: 40px;
}

.description--text {
  font-weight: 400;
  text-align: center;
  color: #555;
  align-self: center;
  width: 20%;
}

.description--image {
  border-radius: 5px;
  height: 48vh;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
}

.text2 {
  order: 2;
  width: 20%;
}

.image2 {
  order: 1;
  height: 55vh;
}

@media only screen and (max-width: 1350px) {
  main {
    flex-direction: column;
  }

  .main__description {
    height: 100%;
  }
  
  .description--text {
    font-weight: 400;
    text-align: center;
    color: #555;
    min-width: 100%;
    margin-bottom: 50px;
  }

  .description--image {
    height: 50vw;
  }

  .text2 {
    order: 1;
    border-top: 2px solid #ddd;
    padding-top: 5vh;
  }
  
  .image2 {
    order: 2;
    height: 50vw;
  }
}

@media only screen and (max-width: 850px) {
  
  .nav__link {
    width: 60px;
    margin-left: 20px;
    font-size: 1rem;
  }

  #hero-background {
    height: 400px;
  }
  
  .hero {
    height: 400px;
  }

  .hero__svg {
    max-height: 40px;
    max-width: 40px;
  }
  
  .content__header {
    max-width: 200px;
    font-size: 2.5rem;
  }
  
  .content__text {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 200px;
    font-size: 1rem;
  }
  
  .btn--register {
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
  }

  main {
    flex-direction: column;
  }

  .main__description {
    height: 100%;
  }
  
  .description--text {
    margin-bottom: 50px;
  }

  .image2 {
    height: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  
  .description--text {
    font-size: 1.25rem;
  }

  .image2 {
    height: 80vw;
  }
}
